<div id="<%= dom_id document %>">
  <p>
    <strong>Title:</strong>
    <%= document.title %>
  </p>

  <div data-controller="autosave"
      data-autosave-url="<%= document_path(@document) %>">

    <input id="trix-editor"
          type="hidden"
          name="document[content]"
          value="<%= @document.content %>"
          data-autosave-target="input">

    <trix-editor input="trix-editor"
                data-action="trix-change->autosave#save"></trix-editor>

    <div id="saving-indicator"
        class="saving-indicator"
        data-autosave-target="status">
      Saved ✅
    </div>

  </div>
</div>
