<div id="<%= dom_id document %>">
  <p>
    <strong>Title:</strong>
    <%= document.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= document.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= document.user_id %>
  </p>

</div>
