<p style="color: green"><%= notice %></p>

<%= render @document %>

<div>
  <%= link_to "Back to documents", documents_path %>
  <div id="test">
    <%= button_to "Destroy this document", @document, method: :delete %>
  </div>
</div>
